{
  "parser": "babel-eslint",
  "extends": [
      "standard",
      "standard-react",
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "ecmaFeatures": {
      "jsx": true
  },
  "env": {
      "browser": true,
      "jest": true
  },
  "globals": {
      "Sinon": false,
      "SinonMock": false,
      "SinonAssert": false,
      "MockBuilder": false,
      "beforeEach": false,
      "beforeAll": false,
      "afterAll": false,
      "afterEach": false,
      "jest": false,
      "describe": false,
      "xdescribe": false,
      "it": false,
      "xit": false,
      "pit": false,
      "__DEV__": false,
      "jasmine": false,
      "NODE_ENV": true,
      "T": false,
      "M": false,
      "SHOW_USER_CONTRACT_COMPARISON": false,
      "__provider_id__": false,
      "__provider_name__": false,
      "__provider_default_product__": false,
      "__provider_filename__": false,
      "__provider_base_url__": false,
      "__CLIENT_ENV__": false,
      "__VALIDATION_TOGGLE__": false
  },
  "plugins": [
      "react",
      "flowtype",
      "flow-vars"
  ],
  "rules": {
      "space-before-function-paren": [
          "error",
          {
              "anonymous": "never",
              "named": "never"
          }
      ],
      "react/jsx-indent-props": 0,
      "react/jsx-indent": 0,
      "react/jsx-no-bind": [2, {
          "ignoreRefs": true,
          "allowArrowFunctions": true,
          "allowBind": true
      }],
      "react/prop-types": [0],
      "semi": [
          2,
          "always"
      ],
      "no-console": [
          0
      ],
      "comma-dangle": [
          "error", "always-multiline"
      ],
      "curly": [
          2,
          "all"
      ],
      "flow-vars/define-flow-type": 1,
      "flow-vars/use-flow-type": 1
  }
}
